/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #b3b3b8;
    color: #000000;
}

h1{
    margin: 0 0 10px;
    color: #000000;
}
 h3 {
    margin: 0 0 10px;
    color: #ffffff;
}

p {
    margin: 0 0 10px;
}

/* Menu Navigation */
.menu {
    background-color: #84A492;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color:#84A492;
}

/* Footer */
footer {
    background-color:#84A492;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer .avb {
    font-weight: bold;
    color: #ffc107;
}

/* Content Containers */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.input-container, .preferencias-container, .grafico-container {
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color:#84A492;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#84A492;
}

/* Chart Container */
.grafico-box {
    position: relative;
    height: 400px;
    width: 100%;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* Information Cards */
.informacoes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
    margin-top: 20px;
}

.informacoes {
    background-color:#84A492;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.info-value {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

#massaAtual {
    background-color: rgb(216, 193, 89);
    color: #000000;
}
#massaAtual > .info-value{
    color: #000000;
}
#massaAtual > h3{
    color: #000000;
}

/* Responsive Design */
@media (min-width: 768px) {
    .menu {
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 40px;
    }

    .grafico-box {
        height: 500px;
    }
    .informacoes-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2px;
        margin-top: 20px;
    }

    footer {
        font-size: 18px;
    }
}
