<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico - Controle de Massa Linear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='avb.jpg') }}" alt="AVB Logo" class="logo">
    </div>

    <div class="menu">
        <a href="/grafico">Gráfico</a>
        <a href="/input">Dados de análise</a>
        {% if session['tipo'] == 'admin' %}
            <a href="/pref">Parametrização</a>
        {% endif %}
        <a href="/logout">Sair</a>
    </div>

    <div class="grafico-container">
        <h1>Inspeção online via leito - Massa linear- AVB CA50 vergalhão 20mm</h1>

        <div class="grafico-box">
            <canvas id="massaLinearChart"></canvas>
        </div>
        <div class="informacoes-container">
            <div class="informacoes" id="massaAtual">
                <h5> Massa Linear atual</h5>
                <p class="info-value">{{ massa_linear }} kg/m</p>
            </div>
            
            <div class="informacoes">
                <h5>Média</h5>
                <p class="info-value">{{ massa_media }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>Massa Linear Máxima</h5>
                <p class="info-value">{{ massa_maxima }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>Massa Linear Mínima</h5>
                <p class="info-value">{{ massa_minima }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>AVB (Mínima)</h5>
                <p class="info-value">{{ norma_interna_min }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>AVB (Máxima)</h5>
                <p class="info-value">{{ norma_interna_max }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>ABNT (Mínima)</h5>
                <p class="info-value">{{ norma_externa_min }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>ABNT (Máxima)</h5>
                <p class="info-value">{{ norma_externa_max }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>Objetivada (Mínima)</h5>
                <p class="info-value">{{ norma_objetivada_min }} kg/m</p>
            </div>
            <div class="informacoes">
                <h5>Objetivada (Máxima)</h5>
                <p class="info-value">{{ norma_objetivada_max }} kg/m</p>
            </div>
        </div>
    </div>

    <footer>
        <p>Controle de Massa Linear - devClemir | <span class="avb">AVB - Acidente Zero</span></p>
    </footer>
</body>
</html>