<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada de Dados - Controle de Massa Linear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="menu">
        <a href="/grafico">Gráfico</a>
        {% if session['tipo'] == 'admin' %}
            <a href="/pref">Parametrização</a>
        {% endif %}
        <a href="/logout">Sair</a>
    </div>

    <div class="input-container">
        <h1>Inserir Dados de Massa Linear</h1>
        <form method="POST">
            <label for="massa">Massa (kg):</label>
            <input type="number" step="any" name="massa" id="massa" required max="2000">

            <label for="comprimento">Comprimento (m):</label>
            <input type="number" step="any" name="comprimento" id="comprimento" required max="600">
            
            <label for="nucleo">Núcleo (mm):</label>
            <input type="number" step="any" name="nucleo" id="nucleo" required>

            <button type="button" class="calculate-btn" onclick="calcularMassaLinear()">Calcular</button>

            <p>Massa Linear (kg/m): <strong id="massa_linear_result">N/A</strong></p>

            <!-- Mensagem de alerta para o supervisor -->
            <div id="mensagem_supervisor" style="display: none; color: rgb(212, 200, 30); font-weight: bold;">
                Comunicar ao supervisor do turno: A massa linear está próxima dos limites da norma interna.
            </div>

            <!-- Mensagem de alerta para massa fora da ABNT -->
            <div id="mensagem_fora_abnt" style="display: none; color: red; font-weight: bold;">
                Massa linear fora da ABNT. Favor pegar uma nova amostra e comunicar ao supervisor do laminador. 
            </div>

            <!-- Mensagem de alerta para massa fora da interna -->
            <div id="mensagem_fora_int" style="display: none; color: rgb(255, 145, 0); font-weight: bold;">
                Massa linear fora da Norma interna. Favor pegar uma nova amostra e comunicar ao supervisor do laminador. 
            </div>

            <!-- Mensagem de alerta para massa dentro da ABNT -->
            <div id="mensagem_dentro_abnt" style="display: none; color: green; font-weight: bold;">
                Massa linear dentro da ABNT.
            </div>

            <button type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>

    <footer>
        <p>Controle de Massa Linear - devClemir | <span class="foot">Acidente Zero</span></p>
    </footer>
<script>
    function calcularMassaLinear() {
    const massa = parseFloat(document.getElementById('massa').value);
    const comprimento = parseFloat(document.getElementById('comprimento').value);
    const resultado = massa && comprimento ? (massa / comprimento).toFixed(3) : 'N/A';
    document.getElementById('massa_linear_result').textContent = resultado;

    // Chamando dados do backend
    const norma_interna_min = parseFloat("{{ preferencias.norma_interna_min | default(0) }}");
    const norma_interna_max = parseFloat("{{ preferencias.norma_interna_max | default(0) }}");
    const norma_externa_min = parseFloat("{{ preferencias.norma_externa_min | default(0) }}");
    const norma_externa_max = parseFloat("{{ preferencias.norma_externa_max| default(0) }}");
    const massa_linear = parseFloat(resultado);

    const mensagemSupervisor = document.getElementById('mensagem_supervisor');
    const mensagemForaAbnt = document.getElementById('mensagem_fora_abnt');
    const mensagemforaint = document.getElementById('mensagem_fora_int');
    const mensagemDentroAbnt = document.getElementById('mensagem_dentro_abnt');

    // Limpar todas as mensagens antes de verificar
    mensagemSupervisor.style.display = 'none';
    mensagemForaAbnt.style.display = 'none';
    mensagemDentroAbnt.style.display = 'none';
    mensagemforaint.style.display= 'none';

    if (massa_linear && !isNaN(norma_interna_min) && !isNaN(norma_interna_max)) {
        const limite_min = norma_interna_min + 0.005; // 5% acima do mínimo
        const limite_max = norma_interna_max - 0.005; // 5% abaixo do máximo
        //const limite_min_abnt=norma_externa_min;
        //const limite_max_abnt=norma_externa_max;
        //const limite_min_avb = norma_interna_min; 
        //const limite_max_avb = norma_interna_max ;

        //Definir a mensagem pro usuario
        if (massa_linear > norma_externa_max || massa_linear < norma_externa_min) {
            // Fora da ABNT
            mensagemForaAbnt.style.display = 'block';
        } else if ((massa_linear > norma_interna_max &&  massa_linear <= norma_externa_max)|| (massa_linear >= norma_externa_min &&  massa_linear < norma_interna_min)) {
            // Fora da interna mas dentro da ABNT
            mensagemforaint.style.display = 'block';
        }
        else if (massa_linear >= norma_interna_min &&  massa_linear <= limite_min || massa_linear <= norma_interna_max &&  massa_linear >= limite_max ) {
            // Próximo dos limite da interna (0.005 do mínimo ou máximo)
            mensagemSupervisor.style.display = 'block';
        } 
         else {
            // Dentro da ABNT
            mensagemDentroAbnt.style.display = 'block';
        }
    }
}

function validarFormulario() {
    const massa = parseFloat(document.getElementById('massa').value);
    const comprimento = parseFloat(document.getElementById('comprimento').value);
    
    if ((isNaN(massa) || massa <= 0 ) && (isNaN(comprimento) || comprimento <= 0 )) {
        alert("Por favor, insira valores válidos para massa e comprimento (maiores que zero).");
        return false;  // Impede o envio do formulário
    }
    return true;  // Permite o envio do formulário
}
</script>
</body>
</html>